body {
  font-family: $body-font;
  background-color: $base-light-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: $header-font;
  font-style: italic;
  color: $base-dark-color;
}

h1 {
  font-size: 3.6em;
  font-weight: 200;

  @media (max-width: $sm-breakpoint-max) {
    font-size: 2.4em;
  }
}

h2 {
  font-size: 2.8em;
  font-weight: 200;

  @media (max-width: $sm-breakpoint-max) {
    font-size: 2.3em;
  }
}

h3 {
  margin-top: 20px;
  font-size: 2.4em;
  font-weight: 200;

  @media (max-width: $sm-breakpoint-max) {
    font-size: 2.1em;
  }
}

h4 {
  margin-top: 15px;
  font-size: 2em;
}

h5 {
  margin-top: 15px;
  font-size: 1.8em;
  font-weight: 700;
}

h6 {
  margin-top: 15px;
  font-size: 1.6em;
  font-weight: 700;
}

p,
li,
td,
figcaption,
figure {
  margin-top: 15px;
}

a {
  display: inline-block;
  padding: 2px 4px;
  margin: -2px -4px;
  color: $base-dark-color;
  text-decoration: underline;
  border-radius: 2px;

  &:hover,
  &:focus {
    color: $base-light-color;
    text-decoration: none;
    background-color: $base-dark-color;
    box-shadow: 0 1px 1px desaturate($base-dark-color, 20%);
  }

  &:active {
    padding: 1px 3px;
    color: $base-dark-color;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid;
    box-shadow: none;
  }
}

.center {
  text-align: center;
}
