.information {
  .lead {
    font-size: 1.2em;
  }

  .features {
    padding: 0;
    margin-bottom: 5px;

    > li {
      padding: 6px 8px;
      margin-top: 10px;
      margin-right: 60px;
      margin-left: 60px;
      color: lighten($base-light-color, 10%);
      list-style: none;
      background-color: desaturate(lighten($base-dark-color, 10%), 20%);
      border: 1px solid $base-dark-color;
      border-radius: 4px;
      box-shadow: 0 1px 1px desaturate($base-dark-color, 20%);

      @media (max-width: $sm-breakpoint-max) {
        margin-right: 0;
        margin-left: 0;
      }

      b,
      em {
        font-family: $header-font;
        font-size: 1.1em;
        font-weight: 600;
      }
    }
  }
}

.demo {
  video {
    width: 600px;
    max-width: 100%;
    margin-top: 15px;
    background-color: #999;
    box-shadow: 0 1px 3px desaturate($base-dark-color, 20%);
  }
}
