@use "sass:color";
@use "variables";

#information {
  .lead {
    font-size: 1.2em;
  }

  .features {
    padding: 0;
    margin-bottom: 5px;

    > li {
      padding: 0.4em 0.6em;
      margin-top: 10px;
      margin-right: 60px;
      margin-left: 60px;
      color: color.adjust(variables.$base-light-color, $lightness: 10%);
      list-style: none;
      background-color: color.adjust(color.adjust(variables.$base-dark-color, $lightness: 10%), $saturation: -20%);
      border: 1px solid variables.$base-dark-color;
      border-radius: 4px;
      box-shadow: 0 1px 1px color.adjust(variables.$base-dark-color, $saturation: -20%);

      @media (max-width: variables.$sm-breakpoint-max) {
        margin-right: 0;
        margin-left: 0;
      }

      b,
      em {
        font-family: variables.$header-font;
        font-size: 1.1em;
        font-weight: 600;
        color: color.adjust(variables.$base-light-color, $lightness: 30%);
        padding-right: 0.4em;
        display: inline-block;

        @media (max-width: variables.$sm-breakpoint-max) {
          display: block;
          padding-right: 0;
          margin-bottom: 0.2em;
        }
      }
    }
  }
}

#demo {
  video {
    width: 600px;
    max-width: 100%;
    margin-top: 15px;
    background-color: #999;
    box-shadow: 0 1px 3px color.adjust(variables.$base-dark-color, $saturation: -20%);
  }
}
