@use "sass:color";
@use "variables";

header {
  padding-top: 80px;
  padding-bottom: 60px;
  color: variables.$base-light-color;
  text-align: center;
  background-color: color.adjust(variables.$base-dark-color, $lightness: -5%);
  box-shadow: 0 1px 3px
    color.adjust(variables.$base-dark-color, $saturation: -20%);

  /* Rectangle 1: */
  background-image: radial-gradient(
    50% 100%,
    color.adjust(variables.$base-dark-color, $lightness: 2%) 50%,
    color.adjust(variables.$base-dark-color, $lightness: -2%) 100%
  );

  @media (max-width: variables.$lg-breakpoint-max) {
    padding-top: 50px;
    padding-bottom: 35px;
  }

  @media (max-width: variables.$sm-breakpoint-max) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  h1 {
    margin-bottom: 20px;
    font-style: initial;
    color: color.adjust(variables.$base-light-color, $lightness: 5%);
    text-shadow: 0 1px 1px
      color.adjust(
        color.adjust(variables.$base-dark-color, $lightness: -30%),
        $saturation: -20%
      );
  }

  a {
    color: variables.$base-light-color;

    &:hover,
    &:focus {
      color: variables.$base-dark-color;
      background-color: variables.$base-light-color;
      box-shadow: 0 1px 1px
        color.adjust(variables.$base-light-color, $saturation: -20%);
    }

    &:active {
      color: variables.$base-light-color;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .cta-row {
    a {
      &,
      &:hover,
      &:focus,
      &:active {
        padding: 0;
        margin: 0 10px 20px;
        text-decoration: none;
        background-color: transparent;
        border: 0;
        box-shadow: none;

        @media (max-width: variables.$sm-breakpoint-max) {
          margin-bottom: 10px;
        }
      }

      img {
        position: relative;
        top: 0;
        filter: drop-shadow(
          0 1px 1px
            color.adjust(
              color.adjust(variables.$base-dark-color, $lightness: -30%),
              $saturation: -20%
            )
        );
      }

      &:active {
        img {
          filter: none;
        }
      }
    }
  }
}
