html,
body,
figure {
  padding: 0;
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.2;
}

ol,
ul {
  padding: 0 0 0 40px;
}

blockquote,
q {
  quotes: none;
}

blockquote,
q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
